:root{
    --first-color: #fafafa; 
    --second-color: #ffe9e3;
    --third-color: #c4c1e0; 
    --fourth-color: #B2A4D4;
}
body{
    top:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    height:100%;
    width: 100%;
    background-color: #D1CBDF;
}
header{
    background-color: #B2A4D4;
    width:100%;
    height: 60px;
    position: fixed;
    top:0;
    z-index:4;
    align-items: center;
}
.logo{
    float: left;
    width: 100px;
    height:100px;
    top: -15px;
    position: absolute;
}
ul{
    float: right;
    display: flex;
    list-style-type: none;
}
ul > li{
    text-decoration: none;
    margin-right:20px;
    font-size: larger;   
}
a:hover {
    cursor: pointer;
    color: #fae885;
}
li > a{
    color:var(--first-color);
    text-decoration: none;
}
.leftlang{
    position: fixed;
margin-left: 80px;
margin-top: 20px;
list-style-type: none;
z-index: 4;
}
  
.body-img-left{
    margin-left:70%;
    position: fixed;
    z-index: 1;
}
.body-img-right{
    left:-175px;
    margin-top: 200px;
    position:fixed;
    z-index: 1;
}